.orderbook {
  margin: 16px 24px;
  padding: 16px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1);
  &__header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    @media (max-width: 600px) {
      grid-template-columns: 100%;
      grid-template-rows: 50px 50px 50px;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 16px;
    @media (max-width: 800px) {
      grid-template-columns: 100%;
      grid-template-rows: 800px 800px;
    }
  }
  &__header-item {
    display: flex;
    align-items: center;
    &:nth-child(2) {
      justify-content: center;
    }
    &:last-child {
      justify-content: flex-end;
    }
    @media (max-width: 800px) {
      justify-content: center;
      &:last-child {
        justify-content: center;
      }
    }
  }
  &__header-item-title {
    color: #90a4ae;
    margin-right: 4px;
    font-weight: 500;
  }
  &__header-item-value {
    color: #455a64;
    font-weight: 600;
  }
  &__market-stats {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #90a4ae;
    font-weight: 500;
    span:last-child {
      color: #455a64;
      font-weight: 600;
      font-size: 1.2rem;
      text-align: right;
    }
  }
  &__market-stats-item {
    display: flex;
    justify-content: space-between;
    gap: 4px;
  }
  &__currency-select {
    border: 0;
    cursor: pointer;
  }
  &__button {
    border-radius: 4px;
    border: 0;
    padding: 8px 16px;
    background-color: lightblue;
    cursor: pointer;
    transition: background-color 250ms;
    &:hover {
      background-color: lightsteelblue;
    }
  }
}
